@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #000000;
    color: #F2F2F2;
    overflow: hidden;
}

.presentation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10% 15%;
}

.presentation__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 615px;
}

.presentation__content__title {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

.presentation__content__title__highlighted {
    color: #075FE4;
}

.presentation__content__text {
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    text-align: justify;
}

.presentation__content__links {
    display: flex;
    justify-content: space-between;
}

.presentation__content__links__link {
    background-color: #075FE4;
    width: 280px;
    padding: 21.5px 0;
    border-radius: 16px;

    text-align: center;
    text-decoration: none;

    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #F2F2F2;
}